body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    width: 100%;
}

/* Top*/
#conteiner {
    background-color: #f8d5e1;
    height: 100px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    display: flex;
}

#conteiner #conteiner-cont {
    width: 1200px;
    height: 60px;
    padding: 0px 10px 0px 10px;
    margin-left: auto;
    margin-right: auto;
    border-top: 20px;
    margin-top: 20px;
}


.logo-hiring {
   text-align: center;
   margin-top: 20px;
}
/* Fim Top */

/* Começo conteudo */

main {
    background-image: url(https://uploads-ssl.webflow.com/5f2d50967d364984a023dc4c/6092fbd604ec85536008759c_Ilustra-Header---Hiring-Coders.gif);
    padding-top: 100px;
    padding-left: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    height: 500px;
}

/* Parte Formulario */

#formulario {
    padding: 20px;
}

p {
    line-height: 30px;
    margin-top: 20px;
}

h1 {
    text-transform: uppercase;
    font-size: 36px;
}

h3 {
    margin-top: 30px;
    font-size: 24px;
}

#conteudo {
    width: 50%;
    padding: 10px;
    margin-left: 50px;
    color: #fff;
}

#botaoinicar {
    background-color: #de1b79;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    height: 20px;
    cursor: pointer;
    display: inline-block;
}

#botaoinicar a {
    color: #fff;
    height: 25px;
    display: block;
    width: 100%;
    text-decoration: none;
    }

    /* Final conteudo */

    /* Rodapé */

#rodape {
    background-color:#152742;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.copy {
    color: #fff;
    text-align: center;
    padding: 10px;
}